.paginationForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  margin-bottom: 56px;
}

/* select */

.fieldset {
  width: 204px;
}

.label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  padding-bottom: 8px;
  color: var(--navy-gray);
}

.custom-select__control {
  border-radius: 12px;
  border: none;
  padding: 4px 8px;
  min-height: 48px;
  font-size: 14px;
  box-shadow: none;
  cursor: pointer;
}

.custom-select__menu {
  border-radius: 12px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  overflow: hidden;
  z-index: 5;
}

.custom-select__option {
  padding: 12px 16px;
  cursor: pointer;
}

/* mileage fields */

.mileageFieldsContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.fromMileage {
  border-right: 1px solid #dadde1;
  border-radius: 12px 0 0 12px;
  padding: 12px 24px;
  width: 160px;
  height: 44px;
  background-color: var(--light-white);
}

.toMileage {
  border-radius: 0 12px 12px 0;
  padding: 12px 24px;
  width: 160px;
  height: 44px;
  background-color: var(--light-white);
}
