.carItemContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 276px;
  height: 424px;
}

.carImg {
  border-radius: 14px;
  object-fit: cover;
  width: 276px;
  height: 268px;
}

.likeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.basicInfCarContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: calc(100% - 11px);

  margin-bottom: 8px;
}

.detailedInformationContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.detailedInformation {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--navy-gray);
}
