.label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  padding-bottom: 8px;
  color: var(--navy-gray);
}

.select {
  display: block;
  width: 204px;
  height: 44px;
  padding: 12px 16px;
  border-radius: 12px;
  appearance: none;
  background-color: var(--light-white);
}

.select:focus {
  border-color: #007bff;
  outline: none;
}
