.formContainer {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: 488px;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-blue);
}

.subtitle {
  color: var(--navy-gray);
  margin: 8px 0 24px 0;
}

.inputField {
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: var(--light-white);
  border: none;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.textareaField {
  border-radius: 12px;
  padding: 12px 20px 56px 20px;
  width: 576px;
  height: 88px;
  background-color: var(--light-white);
  border: none;
  resize: none;
  margin-bottom: 24px;
  font-size: 16px;
}

.inputField::placeholder,
.textareaField::placeholder {
  color: var(--navy-gray);
}

.sendButton {
  max-width: 156px;
  margin: 0 auto;
}
